@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html, body {
    background-image: linear-gradient(90deg, rgb(249, 190, 208) 0%, rgba(250, 224, 228, 0) 100%);
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
}

.menu {
    background-image: linear-gradient(135deg, #ff477e 0%, #ff99c0 70%);
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: transparent 0 0 10px 3px,rgba(18, 18, 18, .1) 0 6px 20px;
}

.boxhead1 {
    display: inline-block;

    transition: 0.3s ease;
}

.boxhead1:hover {
    transform: scale(1.05);
}

.boxhead2 {
    display: inline-block;

    transition: 0.3s ease;
}

.boxhead2:hover {
    transform: scale(1.05);
}

.home {
    padding-right: 15px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.about {
    color: white;
    font-size: 23px;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.all {
    overflow: hidden;
}

.mainBox {
    margin: auto;
    width: 80%;
    max-width: 1500px;
    z-index: 5;
    min-height: 100vh;

    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease forwards;
}

.box {
    position: relative;
    background-color: white;
    margin: auto;
    margin-top: 150px;
    border-radius: 30px;
    display: flex;
    max-width: 900px;

    box-shadow: transparent 0 0 10px 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    border: 5px dashed #ff477e;

    transition: 0.3s ease;
    transform-origin: center center;
}

.box:hover {
    transform: scale(1.05);
}

.box2 {
    position: relative;
    background-color: white;
    margin: 50px auto;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    
    box-shadow: transparent 0 0 10px 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    border: 5px dashed #ff477e;
    max-width: 900px;

    transition: 0.3s ease;
}

.box2:hover {
    transform: scale(1.05);
}


.box3 {
    position: relative;
    background-color: white;
    width: 400px;
    margin: 30px auto;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 30px;
    display: flex;
    
    box-shadow: transparent 0 0 10px 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    border: 5px dashed #ff477e;
    max-width: 900px;

    transition: 0.3s ease;
}

.box3:hover {
    transform: scale(1.05);
}

.p1 {
    margin: auto;
}

.img1 {
    float: left;
    width: 25%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 20px;
    box-shadow: transparent 0 0 10px 3px,rgba(18, 18, 18, .2) 0 6px 20px;

    transition: 0.3s ease;
}

.img1:hover {
    transform: scale(1.05);
}

.img2 {
    float: right;
    width: 45%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: 20% 10%;
    box-shadow: transparent 0 0 10px 3px,rgba(18, 18, 18, .2) 0 6px 20px;
    border-radius: 30px;

    transition: 0.3s ease;
}

.img2:hover {
    transform: scale(1.05);
}


.img3 {
    float: left;
    width: 30%;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 50px;
    object-fit: cover;
    object-position: 20% 10%;
    box-shadow: transparent 0 0 10px 3px,rgba(18, 18, 18, .2) 0 6px 20px;
    border-radius: 30px;

    transition: 0.3s ease;
}

.img3:hover {
    transform: scale(1.05);
}

.img4 {
    float: right;
    width: 30%;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: cover;
    object-position: 20% 10%;
    box-shadow: transparent 0 0 10px 3px,rgba(18, 18, 18, .2) 0 6px 20px;
    border-radius: 30px;

    transition: 0.3s ease;
}

.img4:hover {
    transform: scale(1.05);
}

/*text1*/
.text1 {
    margin-right: 20px;
    
}

.text1 h1 {
    font-size: 40px;
    max-height: 25px;
}

.text1 h2 {
    font-size: 35px;
    max-height: 25px;
    
}

.text1 p {
    font-size: 20px;
    max-height: 25px;
    margin-top: 40px;
}
/*text1*/

/*text2*/
.text2 {
    text-align: left;
    margin-left: 60px;
    
}

.text2 h1 {
    font-size: 40px;
    max-height: 25px;
}

.text2 h2 {
    font-size: 30px;
    max-height: 10px;
}

.text2 p {
    font-size: 20px;
    padding-top: 20px;
    max-height: 25px;
}

.text2 li {
    font-size: 20px;
    margin-left: 30px;
}
/*text2*/

.text3 {
    display: block;
    text-align: left;
    margin-left: 60px;
}

.text3 p {
    max-height: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.text4 {
    display: block;
    text-align: left;
    margin-left: 10%;
}

.text4 p {
    max-height: 10px;
    font-size: 15px;
}

.footer {
    text-align: center;
    margin: auto;
    background-color: white;
    padding: 20px;
}

.a1 {
    position: absolute;
    width: 250px;
    bottom: 70%;
    left: 85%;
}

.a2 {
    position: absolute;
    width: 300px;
    bottom: 60%;
    right: 85%;
    transform: rotate(336deg);
}

.a3 {
    position: absolute;
    width: 350px;
    bottom: 36%;
    left: 80%;
    transform: rotate(42deg);
}

.a4 {
    position: absolute;
    width: 350px;
    bottom: 45%;
    right: 80%;
    transform: rotate(336deg);
}

.a5 {
    position: absolute;
    width: 350px;
    right: 320px;
    top: 60px;
    transform: rotate(336deg);
}
