@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html, body {
    background-image: linear-gradient(90deg, rgb(249, 190, 208) 0%, rgba(250, 224, 228, 0) 100%);
    padding: 0;
    margin: 0;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
}

.menu {
    background-image: linear-gradient(135deg, #ff477e 0%, #ff99c0 70%);
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: transparent 0 0 10px 3px,rgba(18, 18, 18, .1) 0 6px 20px;
}

.boxhead1 {
    display: inline-block;

    transition: 0.3s ease;
}

.boxhead1:hover {
    transform: scale(1.05);
}

.boxhead2 {
    display: inline-block;

    transition: 0.3s ease;
}

.boxhead2:hover {
    transform: scale(1.05);
}

.home {
    padding-right: 15px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.about {
    color: white;
    font-size: 23px;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.out {
    padding-bottom: 1000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    min-width: 500px;
}

.box {
    width: 100%;
    padding-top: 100px;
    text-align: center;
    margin: auto;

    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease forwards;
}

.inside {
    background-color: #ffffff;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #ff99c0;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;

    transition: 0.3s ease;
}

.inside:hover {
    transform: scale(1.05);
}

h1 {
    color: #ff0a54;
    text-align: center;
    font-size: 40px;
    border-radius: 15px;
    text-shadow: 0 0 10px #f7f7f7;
}

.ht {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.input {
    font-size: 20px;
    margin: auto;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border: 1px solid #919191;
    box-shadow: transparent 0 0 10px 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    outline: none;
    text-decoration: none;
    border-radius: 30px;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    transition: 0.3s ease;
}

.input:focus  {
    transform: scale(1.1);
}

.button {
    background: linear-gradient(135deg, #ff477e, #ff99c0);
    color: white;
    display: block;
    margin: auto;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    border: 0;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    transition: 0.3s ease;

    
    
}

.button:hover {
    transform: scale(1.1);
}

.sts {
    display: none;
    background-color: #ff0033;
    font-size: 25px;
    color: white;
    border-radius: 30px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px 3px rgba(255, 0, 0, 0.5);
    margin: 20px auto;
    margin-bottom: 40px;
    line-height: 2;
    width: 250px;
    text-align: center;

    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease forwards;
}

.textttt {
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 4px rgba(112, 112, 112, 0.28);
}

.boxxxx {
    background-color: white;
    color: #ff477e;
    padding: 20px;
    margin: 100px auto;
    border-radius: 30px;
    border: 2px double #ff99c0;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    width: 700px;

    transition: 0.3s ease;
}

.boxxxx:hover {
    transform: scale(1.05);
}

footer {
    background-color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

.bmi {
    font-size: 25px;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .2) 0 6px 20px;
    margin: auto;
    line-height: 2;
    max-width: 400px;
    text-align: center;
}

.boxbmi {
    background: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    border-radius:  30px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    margin: auto;
    line-height: 2;
    max-width: 400px;
    text-align: center;

    transition: all 0.4s ease;
}

.bmibox {
    background-color: #ffffff;
    width: 450px;
    padding-bottom: 20px;
    margin: 40px auto;
    border: 2px double #ff99c0;
    border-radius: 30px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;

    transition: 0.3s ease;
}

.bmibox:hover {
    transform: scale(1.05);
}

.abc {
    display: none;
    margin: auto;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease forwards;
}